packages: [
  "atom-alignment"
  "atom-beautify"
  "atom-css-comb"
  "atom-ternjs"
  "auto-detect-indentation"
  "autoprefixer"
  "color-picker"
  "docblockr"
  "editorconfig"
  "emmet"
  "es-identifier-highlight"
  "file-icons"
  "git-plus"
  "language-babel"
  "linter"
  "linter-csslint"
  "linter-htmlhint"
  "linter-jscs"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "open-recent"
  "package-sync"
  "pigments"
  "project-manager"
  "remote-edit"
  "todo-show"
  "uglify"
]
