packages: [
  "atom-alignment"
  "atom-beautify"
  "atom-css-comb"
  "atom-ternjs"
  "atom-typescript"
  "atomic-chrome"
  "auto-detect-indentation"
  "autoprefixer"
  "busy-signal"
  "change-case"
  "color-picker"
  "css-comb"
  "docblockr"
  "editorconfig"
  "emmet"
  "es-identifier-highlight"
  "file-icons"
  "git-blame"
  "git-plus"
  "go-plus"
  "goto"
  "goto-definition"
  "highlight-selected"
  "intentions"
  "language-babel"
  "language-elm"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-htmlhint"
  "linter-js-standard"
  "linter-markdown"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "minimap-split-diff"
  "multi-cursor"
  "open-recent"
  "package-sync"
  "pigments"
  "polymer-atom"
  "project-manager"
  "remote-edit"
  "split-diff"
  "standard-formatter"
  "todo-show"
  "uglify"
]
